@import 'vars';
@import 'global';

//start header

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin: 19px 0 0;
        padding-right: 12px;
    }

    &__contact {
        padding: 49px 0 0;
        color: #ffffff;
        text-align: end;

        &-text {
            font-size: 14px;
            padding-bottom: 10px;
        }

        a {
            font-size: 19px;
            font-weight: 700;
            color: #fff;
        }
    }

    &__box {
        text-align: center;
        padding: 177px 0 30px;
        color: #fff;

        &-title {
            font-size: 60px;
            text-transform: uppercase;
            padding-bottom: 43px;
        }

        &-text {
            font-size: 20px;
            text-transform: uppercase;
            padding-bottom: 15px;
        }

        &-info {
            font-size: 16px;
            padding-bottom: 95px;
        }

        &-btn {
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            padding: 18px;
            border: 2px solid;
            width: 300px;
            margin-bottom: 140px;
        }

        &-btn:hover {
            background-color: $hover;
            border: 2px solid $hover;
            transition: all .3s;
        }

        &-socials {
            a {
                position: relative;
                border: 1px solid #fff;
                width: 26px;
                height: 26px;
                border-radius: 50%;

                svg {
                    position: absolute;
                }

                .tw {
                    width: 15px;
                    top: 5px;
                    left: 5px;
                }

                .fb {
                    width: 14px;
                    top: 5px;
                    right: 6px;
                }

                .inst {
                    width: 16px;
                    top: 4px;
                    right: 4px;
                }
            }

            a+a {
                margin-left: 5px;
            }

            a:hover {
                background-color: $hover;
                border: 1px solid $hover;
                transition: all .3s;
            }
        }
    }
}

//end header

//start about

.about {
    background-color: $greybg;
    padding: 50px 0;

    &__image img {
        max-width: 390px;
        max-height: 490px;
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }

    &__inner {
        display: flex;
        justify-content: space-around;
    }

    &__box {
        max-width: 400px;
        padding-top: 25px;
    }

    &__box-title {
        font-size: 24px;

    }

    &__box-title span {
        display: block;
        font-size: 48px;
        text-transform: uppercase;
        padding: 8px 0 37px;
    }

    &__box-text {
        font-weight: 400;
        padding-bottom: 35px;
    }

    li {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        padding-bottom: 20px;
        position: relative;
        margin-left: 50px;
    }

    .yoga::before {
        content: '';
        background-image: url(../images/icons/mat_icon.png);
        width: 30px;
        height: 20px;
        position: absolute;
        left: -50px;
        top: -4px;

    }

    .sea::before {
        content: '';
        background-image: url(../images/icons/sea_icon.png);
        width: 30px;
        height: 24px;
        position: absolute;
        left: -50px;
        top: -7px;
    }

    .travel::before {
        content: '';
        background-image: url(../images/icons/paper-plane_icon.png);
        width: 27px;
        height: 28px;
        position: absolute;
        left: -50px;
        top: -3px;
    }
}

//end about

//start advantages

.advantages {
    background-color: #fff;

    &__inner {
        padding: 70px 0 30px;
        margin: 0 auto;
    }
}

.advantages__inner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages__item {
    padding-bottom: 45px;
    flex-basis: calc(33.3333%);
    text-align: center;

    &-box {
        margin: 0 auto;
        max-width: 240px;
        width: 100%;
    }

    &-img {
        width: 170px;
        height: 170px;
        margin: 0 auto;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    &-text {
        font-size: 16px;
    }
}

//end advantages

//start slider

.expectations-slider,
.program-slider {
    margin-bottom: 70px;

    &__bg {
        background-color: $greybg;
        height: 487px;
        width: 100%;
        margin-bottom: -420px;
    }

    &__wrapper {
        max-width: 1920px;
        margin: 0 auto;
    }

    &__item {
        display: inline-block;
        position: relative;
        overflow: hidden;
        max-width: 940px;

        img {
            height: 530px;
            width: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    &__item::before {
        content: '';
        background-color: rgba(0, 0, 0, .3);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    &__info {
        position: absolute;
        text-align: center;
        max-width: 470px;
        width: 100%;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        color: #fff;
        padding: 0 35px;
        margin: 0 auto;

        &-title {
            font-size: 26px;
            text-transform: uppercase;
            padding-bottom: 20px;
        }

        &-text {
            font-size: 18px;
            font-weight: 400;
        }
    }

    .slick-slide {
        transform: scale(.9, .9);

        .expectations-slider__info-title,
        .expectations-slider__info-text {
            display: none;
        }
    }

    .slick-center {
        transform: scale(1, 1);

        .expectations-slider,
        .program-slider {

            &__info-title,
            &__info-text {
                display: block;
            }
        }

        .expectations-slider,
        .program-slider {
            &__item::before {
                outline: 1px solid #fff;
                outline-offset: -30px;
            }
        }
    }

    .slick-slider {
        text-align: center;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
    }

    .slick-dots li {
        margin: 0 7px;
    }

    .slick-dots button {
        font-size: 0;
        border: none;
        padding: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $hover;
        cursor: pointer;
    }

    .slick-dots li.slick-active button {
        background-color: #fff;
        border: 2px solid #b4b4b4;
        width: 12px;
        height: 12px;
    }
}

//end slider

//start timetable

.timetable {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 60px;
        margin-left: -20px;
    }

    &__box {
        background-color: $greybg;
        text-align: center;
        padding: 28px 0 0;
        margin-bottom: 20px;
        flex-basis: calc(25% - 20px);
        margin-left: 20px;

        &-date {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
            color: $text;
        }

        &-title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        &-details {
            color: $orange;
            font-size: 13px;
            margin-bottom: 15px;
            display: block;
        }

        &-details:hover {
            color: #000;
        }

        &-request {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: $orange;
            border: 2px solid $hover;
            padding: 13px 29px;
            margin-bottom: 20px;
            display: inline-block;
        }

        &-request:hover {
            color: #ffffff;
            background-color: $hover;
        }
    }
}

//end timetable

//start ayurveda

.ayurveda-description {
    text-align: center;

    &__text {
        margin-bottom: 60px;
    }

    p {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }

}

.ayurveda-program {
    padding-bottom: 40px;

    &__title {
        font-size: 24px;
        padding-bottom: 60px;
        text-align: center;
    }

    &__box {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            object-position: center top;
            margin-right: 35px;
        }
    }

    &__text {
        max-width: 475px;
        text-align: left;
        margin-top: 40px;
        font-weight: 400;
        font-size: 18px;
    }
}

//end ayurveda

//start ayurvedic center

.ayurvedic-center {
    margin-bottom: 59px;
    max-width: 1030px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    &__bg {
        background: $greybg;
        max-width: 725px;
        width: 100%;
        height: 265px;
        margin-bottom: -240px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img-box {
        margin-left: 25px;
        max-width: 485px;

        img {
            max-width: 139px;
            height: 139px;
            object-fit: cover;
            object-position: center top;
            margin-bottom: 20px;
            margin-right: 20px;
        }
    }

    &__text {
        max-width: 470px;
        width: 100%;
        padding-top: 20px;
    }

    &__title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        color: $text;
        padding-bottom: 25px;
    }

    p {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 17px;
    }

    &__list {
        display: flex;
        color: $text;
        font-size: 13px;
        font-weight: 400;
        padding-left: 25px;
        padding-top: 15px;

        ul {
            max-width: 200px;
        }

        li {
            position: relative;
        }

        .logo-mini::before {
            content: '';
            background-image: url(../images/logo-mini.png);
            width: 13px;
            height: 12px;
            position: absolute;
            left: -25px;
        }

        .second {
            padding-left: 40px;
        }

        ul>li {
            padding-bottom: 10px;
        }
    }
}

//end ayurvedic center

//start instructors-slider

.instructors-slider {
    &__bg {
        background-color: $greybg;
        height: 1165px;
        width: 100%;
        margin-bottom: -1101px;
    }

    &__inner {
        padding-bottom: 20px;
    }

    &__item {
        display: inline-block;
        position: relative;

        img {
            max-width: 940px;
            max-height: 540px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__info {
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: rgba(68, 68, 68, .5);
        min-height: 170px;
        width: 100%;
        padding: 40px 85px 5px 60px;
        position: absolute;
        bottom: 0;
        overflow: hidden;

        &-instructor {
            max-width: 290px;
        }

        &-name {
            font-size: 30px;
            font-weight: 700;
            padding-bottom: 15px;
        }

        &-yogatype {
            font-weight: 400;
            font-style: italic;
        }

        &-text {
            font-size: 14px;
            font-weight: 400;
            max-width: 455px;
            position: relative;

            span {
                text-transform: uppercase;
            }
        }

        &-text::before {
            content: '';
            position: absolute;
            left: -45px;
            width: 2px;
            height: 78px;
            background-color: #fff;
        }

    }

    .slick-dots {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        bottom: 30px;
        right: 10px;
    }

    .slick-dots li {
        margin: 0 3px;
    }

    .slick-dots button {
        width: 4px;
        height: 4px;
        background-color: #fff;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        border: none;
        cursor: pointer;
    }

    .slick-dots li.slick-active button {
        background-color: transparent;
        border: 2px solid #fff;
        width: 8px;
        height: 8px;
    }

}

//end instructors-slider

//start comment-slider

.comment-slider {
    position: relative;
    margin-bottom: 80px;
    padding-top: 60px;

    &__item {
        max-width: 760px;
        width: 100%;
        min-height: 150px;
        display: flex !important;
        justify-content: space-between;
        margin: 0 auto;

        img {
            max-width: 150px;
            width: 100%;
            height: 150px;
            object-fit: cover;
            object-position: center;
        }
    }

    &__member-info {
        max-width: 570px;
        width: 100%;

        a {
            color: $hover;
            font-size: 13px;
            margin-bottom: 10px;
        }

        p {
            max-width: 570px;
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            font-style: italic;
            color: $text;
        }
    }

    &__member-name {
        font-size: 18px;
        font-weight: 400;

        span {
            font-weight: 700;
        }
    }

    .slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 34%;
        z-index: 10;
        font-size: 0;
        border: none;
        width: 16px;
        height: 25px;

        &.slick-prev {
            left: 0;
            background: url(../images/slider/arrow-left.svg) 0 0 / 100% no-repeat;
        }

        &.slick-next {
            right: 0;
            background: url(../images/slider/arrow-right.svg) 0 0 / 100% no-repeat;
        }

    }

    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }

    .slick-dots li {
        margin: 0 7px;
    }

    .slick-dots button {
        font-size: 0;
        border: none;
        padding: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #b4b4b4;
        cursor: pointer;
    }

    .slick-dots li.slick-active button {
        background-color: #fff;
        border: 2px solid #b4b4b4;
        width: 9px;
        height: 9px;
    }
}

//end comment-slider

//start choise

.choise {
    background-color: $greybg;
    padding: 75px 0 50px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &-items {
            max-width: 240px;
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 60px;
        }

        &-img {
            max-width: 120px;
            width: 100%;
            height: 120px;
            margin: 0 auto;
            object-fit: cover;
            object-position: center;
            margin-bottom: 35px;
        }

        &-title {
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 15px;
        }

        &-text {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

//end choise

//start sequence

.sequence {
    margin-bottom: 80px;
    padding-top: 70px;

    &__subtitle {
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        margin-bottom: 60px;
        color: $text;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        text-align: center;

        &-icon {
            width: 90px;
            height: 90px;
            object-fit: cover;
            object-position: center;
            margin: 0 auto 20px;
            position: relative;
        }

        &-icon::after {
            content: '';
            background-image: url(../images/icons/sequence_arrow.png);
            width: 25px;
            height: 17px;
            position: absolute;
            right: -45px;
            top: 40px;
        }

        &:last-child>&-icon::after {
            display: none;
        }

        &-text {
            font-size: 13px;
            color: $text;
            max-width: 145px;
            margin: 0 auto;
        }

        a {
            font-size: 13px;
            color: $hover;
        }

        a:hover {
            font-size: 13px;
            color: #000000;
        }

    }

}

//end sequence

//start cost

.cost {
    background-color: $greybg;
    padding: 75px 0;

    &__box {
        margin: 0 auto;
        background-color: #fff;
        max-width: 820px;
        width: 100%;
        font-size: 20px;
        font-weight: 400;

        &-items {
            padding: 30px 0;
        }
    }

    &__offer {
        display: flex;
        justify-content: space-around;
        line-height: 48px;
        width: 100%;

        span {
            font-weight: 700;
        }
    }

    &__value {
        color: $orange;
        font-weight: 300;
    }

    &__special {
        background-color: #f4e1b6;
        padding: 15px 0;
        margin-bottom: 45px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-text {
            font-weight: 700;
        }

        a {
            text-transform: uppercase;
            color: $hover;
            font-size: 14px;
            font-weight: 900;
            border: 2px solid $hover;
            padding: 10px 47px;
            transition: all .3s;

            &:hover {
                color: #ffffff;
                background-color: $hover;
            }
        }
    }

    &__included,
    &__excluded {
        max-width: 690px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;

        &-title {
            font-size: 24px;
            margin-bottom: 35px;
            text-align: center;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            color: $text;
            position: relative;
            padding-left: 35px;
            padding-bottom: 10px;

            &:before {
                content: '';
                background-image: url(../images/icons/cost__included_check.png);
                width: 14px;
                height: 10px;
                position: absolute;
                top: 5px;
                left: 0px;
            }
        }
    }

    &__excluded {
        p:before {
            content: '';
            background-image: url(../images/icons/cost__excluded_cross.png);
            width: 9px;
            height: 9px;
            position: absolute;
            top: 7px;
            left: 8px;
        }
    }

    &__calculated {
        font-size: 18px;
        max-width: 735px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-weight: 400;
    }
}

//end cost

//start warranty

.warranty {
    padding: 50px 0;

    p {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        padding-bottom: 45px;
    }

    &__subtitle {
        font-size: 24px;
        text-align: center;
        margin-bottom: 35px;
    }

    li {
        font-size: 18px;
        font-weight: 400;
        color: $text;
        position: relative;
        padding-left: 35px;
        padding-bottom: 10px;

        &:before {
            content: '';
            background-image: url(../images/icons/cost__included_check.png);
            width: 14px;
            height: 10px;
            position: absolute;
            top: 5px;
            left: 0px;
        }
    }
}

//end warranty

//start contacts

.contacts {
    padding: 45px 0;
    background-color: $greybg;

    &__inner {
        display: flex;
        margin-bottom: 20px;
        align-items: end;
    }

    &__socials {
        margin-right: 130px;
    }

    &__socials-title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    &__socials-subtitle {
        font-size: 16px;
        margin-bottom: 12px;
    }

    &__socials-icons {
        a {
            border: 2px solid $hover;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            position: relative;
            margin: 0;
            padding: 0;

            &:hover {
                background-color: #fff;
                transition: all .3s;
                border: 2px solid $hover;
            }
        }

        a+a {
            margin-left: 20px;
        }

        svg {
            position: absolute;
        }

        .tw2 {
            width: 21px;
            top: 8px;
            left: 8px;
        }

        .fb2 {
            width: 20px;
            top: 8px;
            left: 7px;
        }

        .inst2 {
            width: 22px;
            top: 6px;
            left: 6px;
        }
    }

    &__phone {
        &-title {
            font-size: 16px;
            margin-bottom: 10px;
        }

        &-subtitle {
            font-size: 12px;
            font-weight: 300;
            font-style: italic;
            margin-bottom: 5px;
        }

        &-number {
            font-size: 28px;
            font-weight: 700;
        }
    }

    &-map {
        &__title {
            font-size: 16px;
            margin-bottom: 17px;
        }

        &__inner {
            display: flex;
        }

        &__items {
            margin-right: 20px;
        }

        &__picture {
            iframe {
                max-width: 270px;
                width: 100%;
                height: 150px;
                margin-bottom: 15px;
                border: 0;
            }
        }

        &__text {
            font-size: 12px;
        }
    }
}

//end contacts

//start footer

.footer {
    padding: 12px 0;
    background-color: hsl(165, 49%, 35%);

    &__inner {
        font-weight: 400;
        font-size: 12px;
        display: flex;
        color: #fff;

        .footer__logo {
            margin-right: 39px;
            margin-top: 13px;
        }

        .website__item {
            max-width: 220px;
            width: 100%;
            padding: 13px 0 0;

            &-title {
                margin-bottom: 7px;
            }

            &-address {
                font-size: 18px;
                font-weight: 700;
            }

            a {
                color: #fff;
            }
        }

        .footer__info {
            max-width: 400px;
            width: 100%;
            margin-left: 245px;
            padding: 13px 0 0;

            &-name {
                margin-bottom: 7px;
            }
        }
    }
}

//end footer



@import 'media';